/* ---------- RESET & BASE STYLES ---------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, sans-serif;
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --Primary-color: #205781;
  --Secondary-color: #4f959d;
  --fill-color: #d5e6e7;
  --base-font-color: #333332;
  --second-font-color: #777776;
}

/* ---------- NAVBAR STYLES START ---------- */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  padding: 0 16px;
  font-weight: bold;
  font-size: 24px;
  color: var(--Primary-color);
}
.navbar {
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-menu {
  display: none;
  position: absolute;
  padding: 12px 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.nav-list li:hover {
  background-color: #ddd;
}

.nav-list li a {
  font-size: 16px;
  color: var(--base-font-color);
  padding: 0px;
  margin: 0 24px;
  display: flex;
  text-decoration: none;
}

.search-container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  gap: 12px;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #ddd;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 12px 15px;
}

.search-icon {
  display: flex;
  padding: 12px;
  cursor: pointer;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.search-icon:hover {
  background-color: #d6d6d6;
}

.search-icon svg {
  color: var(--base-font-color);
}

.search-btn {
  display: flex;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: var(--Primary-color);
  color: white;
  border: none;
  align-items: center;
}

.auth-buttons {
  display: none;
}

.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-login {
  border: 1px solid #ddd;
  background-color: white;
}

.btn-register {
  background-color: var(--Primary-color);
  color: white;
  border: none;
}

.btn-login:hover {
  background-color: #ddd;
}

.btn-register:hover {
  background-color: #1a4667;
}

.btn-register.register-responsive {
  color: white;
}
.btn-register.register-responsive:hover {
  background-color: #1a4667;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
}

.profile-container {
  position: relative;
  margin-left: 20px;
}

.profile-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.dropdown-profile {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
}

.dropdown-profile.show {
  display: block;
}

.dropdown-profile p {
  margin: 10px;
  font-weight: bold;
}

.dropdown-profile a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-profile a:hover {
  background: #f0f0f0;
}

/* ---------- HAMBURGER MENU START ---------- */
.burger-menu {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 12px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
.burger-menu span,
.burger-menu span:before,
.burger-menu span:after {
  background: var(--Primary-color);
  display: block;
  height: 3.5px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.burger-menu span:before,
.burger-menu span:after {
  content: "";
}
.burger-menu span {
  right: 0px;
  top: 10px;
  width: 27px;
}
.burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}
.burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

.close-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.close-nav.active {
  visibility: visible;
  opacity: 1;
}

/* ---------- HAMBURGER MENU END ---------- */

.nav-responsive {
  display: flex;
  align-content: space-between;
  align-items: center;
  gap: 8px;
}

.menu-responsive {
  position: fixed;
  top: 0;
  left: -250px;
  width: 5px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  padding: 20px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
}

.menu-responsive.active {
  width: 300px;
  z-index: 4;
  left: 0;
}

.menu-responsive ul {
  list-style: none;
  padding: 0;
}

.menu-responsive ul li {
  margin-bottom: 15px;
}

.menu-responsive ul li a {
  text-decoration: none;
  color: var(--base-font-color);
  display: block;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.menu-responsive ul li a:hover {
  background-color: #ddd;
}

/* ---------- NAVBAR STYLE END ---------- */

/* ---------- FILTER START ---------- */
.filter-wrap {
  overflow-y: scroll;
  top: 0;
  margin-left: 40px;
  height: 600px;
  display: none;
}

.filter-container {
  background-color: rgba(213, 230, 231, 0.5);
  padding: 12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 800px;
}

.filter-head {
  display: flex;
  text-align: center;
  gap: 12px;
  padding: 16px;
  border-bottom: solid 1px #999998;
}

.filter-content {
  padding: 8px;
  text-align: start;
}

.filter-content h4 {
  font-weight: 600;
}

.checkbox-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px 0;
}

.filter-jenjang {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #999998;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox-filter input {
  opacity: 0;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--Primary-color);
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.checkbox-filter input:checked + .custom-checkbox {
  background-color: #004a80;
  border-color: #004a80;
}

.checkbox-filter input:checked + .custom-checkbox::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  left: 6px;
  top: 0;
}

.filter-tipe {
  padding-top: 12px;
  border-bottom: solid 1px #999998;
}

.filter-negara {
  padding: 12px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: solid 1px #999998;
}

.filter-univ {
  padding: 12px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-kategori {
  padding: 12px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: solid 1px #999998;
}

.filter-negara input,
.filter-univ input,
.filter-kategori input {
  width: 100%;
  height: 100%;
  border: solid 1px #999998;
  outline: none;
  background-color: #ddd;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 8px 12px;
}
.filter-negara input::placeholder,
.filter-univ input::placeholder,
.filter-kategori::placeholder {
  color: #999998;
}

.filter-btn {
  margin-top: 8px;
  display: flex;
  padding: 12px;
  background-color: var(--fill-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 120px;
  gap: 12px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: var(--Primary-color);
  color: white;
}

.filter-btn span {
  font-weight: 600;
  font-size: 16px;
  color: inherit;
}

.filter-btn svg {
  color: inherit;
}

.filter-btn svg path {
  color: inherit;
}

.close-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.close-filter.active {
  visibility: visible;
  opacity: 1;
}

.filter-wrap-responsive {
  position: fixed;
  top: 60px;
  left: -250px;
  width: 5px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  padding: 4px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  overflow-y: scroll;
  padding-bottom: 60px;
}

.filter-wrap-responsive.active {
  width: 300px;
  z-index: 4;
  left: 0;
}
/* ---------- FILTER END ---------- */

/* ---------- YEAR AND MONTH SET START ---------- */

.month-container {
  overflow-x: hidden;
}

.month-list {
  overflow-x: scroll;
}

/* ---------- YEAR AND MONTH SET END ---------- */

/* ---------- POP UP CARI TIM START ---------- */
.pop-up-container {
  display: none;
  inset: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.pop-up-content {
  background-color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 8px;
  position: relative;
  z-index: 30;
  top: 40px;
}

.close-pop-up {
  display: flex;
  width: 100%;
  justify-content: end;
}

.close-pop-up .close-pop-up-btn {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: solid 2px #fa4032;
  padding: 6px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.close-pop-up .close-pop-up-btn:hover {
  background-color: #fa4032;
  color: white;
}

.close-pop-up .close-pop-up-btn svg {
  color: inherit;
}
.close-pop-up .close-pop-up-btn svg path {
  color: inherit;
}

.pop-up-content img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.pop-up-content .detail-info-team {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.detail-info-team .title {
  font-weight: 600;
  font-size: 18px;
}

.detail-info-team .lomba,
.detail-info-team .univ {
  font-size: 14px;
}

.req {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.req h4 {
  font-weight: 600;
  color: #777776;
  margin-bottom: 4px;
}

.req ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.req ul li {
  font-size: 14px;
  background-color: var(--fill-color);
  padding: 8px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.file-up {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 12px;
}

.upload-label {
  display: inline-block;
  background-color: var(--Primary-color);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

input[type="file"] {
  display: none;
}

#file-name {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #777;
}

.pop-up-content .confirm-btn {
  right: 0;
  padding: 12px;
  color: white;
  background-color: var(--Primary-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
}

.background-pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  inset: 0;
}

.pop-up-container.active {
  display: flex;
}

.background-pop-up.active {
  display: block;
}

.custom-notification {
  visibility: hidden;
  position: fixed;
  right: 0px;
  z-index: 30;
  top: 90px;
  background-color: var(--Primary-color);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-notification.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
/* ---------- POP UP CARI TIM END ---------- */

/* ---------- FOOTER START---------- */
footer {
  background-color: #13344d;
  padding: 30px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.footer-container h3 {
  color: #8cadc6;
  margin-bottom: 8px;
}
.footer-container a {
  color: white;
}

.footer-container a:hover {
  color: var(--Primary-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-items {
  display: flex;
  gap: 24px;
}

.social-items {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer p {
  color: #d6d6d6;
}
/* ---------- FOOTER END---------- */

/* ---------- RESPONSIVE ---------- */
@media (min-width: 640px) {
}
@media (min-width: 768px) {
  footer {
    padding: 42px 60px 24px;
    gap: 40px;
  }
  .footer-container {
    flex-direction: row;
    padding: 0 32px;
  }
}
@media (min-width: 1080px) {
  .burger-menu {
    display: none;
  }

  .auth-buttons {
    display: block;
  }

  .nav-menu {
    display: flex;
    position: static;
    background-color: transparent;
    max-width: none;
    box-shadow: none;
    justify-content: space-between;
  }

  .search-container {
    display: block;
    flex-grow: 1;
    margin: 0 30px;
    position: relative;
    top: 0px;
    left: 0;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transform: translateX(0);
    width: 20%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .search-bar input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 14px;
    color: var(--second-font-color);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  .search-icon {
    display: none;
  }

  .search-btn {
    display: none;
  }

  .auth-buttons {
    display: flex;
    gap: 12px;
  }

  .nav-list li a {
    padding: 4px 0;
  }

  /* FILTER START */
  .filter-wrap {
    display: block;
    margin-left: 20px;
  }

  .filter-btn {
    display: none;
  }
  /* FILTER END */
}

@media (min-width: 1280px) {
  .month-list {
    overflow-x: hidden;
  }
}
